html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  background-color: #202020;
}

h1 {
  font-size: 140px;
}

h2 {
  font-size: 86px;
}

.title {
  font-family: 'Geo', sans-serif;
  line-height: .8;
  font-variant: small-caps;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

.subtitle {
  font: 24px/1.9 'Press Start 2P', cursive;
}

#game-container {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  font: 20px 'Press Start 2P', cursive;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  background-color: transparent;
  opacity: 1;
  box-shadow: 2px 2px 4px -2px #000000;
  border: 2px solid #000000;
  outline: 0;
  cursor: pointer;
  padding: 0.5em;
}
button:hover {
  opacity: 0.88;
  box-shadow: 2px 2px 3px -2px #000000;
}
button:active {
  opacity: 0.88;
  box-shadow: 2px 2px 1px -2px #000000;
}

#game-box {
  background-color: #2D655F;
  border: 1px solid #2D655F;
  box-shadow: 2px 2px 8px #000000;
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
}

.snake {
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
}

.head {
  top: 40px;
  left: 10px;
}

.apple {
  background-color: red;
  border-radius: 10%;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 100px;
  left: 20px;
}

#score-box {
  font-size: 1rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  width: 350px;
  margin-top: 12px;
}
#score-box p {
  font: .7em 'Press Start 2P', cursive;
}
#score-box p:first-child {
  float: left;
}
#score-box p:last-child {
  float: right;
}

#play-again__screen {
  display: none;
  white-space: nowrap;
  z-index: 200;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.play-again__message {
  font: 18px 'Geo', cursive;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #000000;
  padding-bottom: 1.4em;
}

/*# sourceMappingURL=style.css.map */
