@import "compass/reset";

$boxSize: 360px;

#box {
	position: relative;
	overflow: hidden;
	background-color: darkslategrey;
    border: 1px solid darkslategrey;
	margin: 0 auto;
	margin-top: 50px;
	margin-left: 50px;
	width: $boxSize;
	height: $boxSize;
}

#highscore-box {
	font: 11px 'Press Start 2P', cursive;
	width: $boxSize;
	margin-top: 5px;
	margin-left: 55px;
	
	p {
		width: $boxSize / 2;
		float: left;
	}
}

.snake {
	position: absolute;
	background-color: white;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.apple {
	position: absolute;
	background-color: red;
	width: 10px;
	height: 10px;
	border-radius: 10%;
	top: 90px;
	left: 20px;
}